@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Reemplaza 400 con el peso de fuente deseado */
  font-style: normal;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    position: absolute;
    top: 20px; /* Ajusta la distancia desde la parte superior según sea necesario */
    left: 20px; /* Ajusta la distancia desde el borde izquierdo según sea necesario */
    color: white;
    font-size: 1.5em; /* Tamaño del texto */
    font-weight: bold;
    text-decoration: none;
}

.menu .navbar ul li{
    position: relative;
    float: left;
    display: inline;
}

.menu .navbar ul li a{
    font-size: 10 px;
    padding: 20px;
    color: white;
    display: inline;
    font-weight: 400;
}


.menu .navbar ul li a:hover{
    color: darkgoldenrod;
}

.menuFooter li{
    display: inline;
}

#menu{
    display: none;
}

.menu_icon{
    width: 25%;
}

.menu label{
    cursor: pointer;
    display: none;
}


.header1{
    background-image: url(img/WG_1.jpg);
    background-color: black;
        background-position: center bottom;
        background-repeat: no-repeat;
     /*   background-size: cover;*/
        min-height: 150vh;
        display: flex;
        align-items: center;
}

.TituloBio{
  position: absolute; /* Posiciona el nombre de forma absoluta */
  bottom: 550px; /* Lo coloca 10px desde la parte inferior */
  left: 50%; /* Lo coloca en el centro horizontal */
  transform: translateX(-50%); /* Centra el nombre horizontalmente */
  color: white; /* Color del texto (cambia según tu preferencia) */
  font-size: 90px; /* Tamaño de fuente del nombre del actor */
  text-align: center; /* Alinea el texto al centro */
  padding: 5px 10px; /* Espaciado interno del nombre */
}

/* SECCION_1_2*/

.mejor-actor{
        background-position: center bottom;
        background-color: black;
        color:white;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
}

.imagenes{
    background-position: center bottom;
        background-color: black;
        color:white;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
}

.Awards{
    background-position: center bottom;
        background-color: black;
        color:white;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
}


/* INICIO STAYUPDATE*/

.StayUpdate {
    background-color:black;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Mantente_actualizado {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .Mantente_actualizado h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .Mantente_actualizado h2 {
    font-size: 18px;
    margin-bottom: 20px;
    color:white;
  }
  
  .subscription-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-wrapper input {
    width: 300px;
    height: 40px;
    border: 1px solid #fdfafa;
    border-radius: 5px;
    padding: 0 10px;
    margin-bottom: 10px;
  }
  
  .input-wrapper button {
    width: 300px;
    height: 40px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-wrapper button:hover {
    background-color:black;
  }
  
  .Mantente_actualizado h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color:white;
  }
  
  .Menu_footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .menuFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menuFooter li {
    margin: 0 10px;
  }
  
  .menuFooter a {
    color:white;
  text-decoration: none;
  }
  
  .menuFooter a:hover {
    color: white;
  }
  